{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "useTabs": true,
  "tabWidth": 4,
  "printWidth": 120,
  "bracketSpacing": true,
  "trailingComma": "none",
  "endOfLine": "auto"
}
